# Use postgres/example user/password credentials
version: "3.1"

services:
  db:
    image: postgres
    container_name: postgres_container
    restart: always
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - "postgres_volume:/var/lib/postgresql/data"
    networks:
      - db_network

  # YOU DON'T NEED THIS, USE PRISMA STUDIO
  # pgadmin:
  #   depends_on:
  #     - db
  #   image: dpage/pgadmin4
  #   container_name: pgadmin4_container
  #   restart: always
  #   ports:
  #     - "${PGADMIN_PORT:-5050}:80"
  #   env_file:
  #     - .env
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: "${PGADMIN_DEFAULT_EMAIL}"
  #     PGADMIN_DEFAULT_PASSWORD: "${PGADMIN_DEFAULT_PASSWORD}"
  #     PGADMIN_CONFIG_SERVER_MODE: "False"
  #   networks:
  #     - db_network

volumes:
  postgres_volume:

networks:
  db_network:
